form {
    width: 50%;
    margin:50px auto;
    background-color: #499baa;
    border:2px solid #000
}
#chars {
    width: 5%;
}
.error {
    display: inline-block;
    color:red;
    font-weight: bold
}
.form-success {
    color: green;
}
.form-error {
    color:red;
}
   